<ui5-form layout=" S1 M2 L2 XL2" item-spacing="Large">
    <ui5-form-group *ngFor="let formGroup of formData; let i = index">
        <ng-content *ngIf="projectionEnabled && i == 0"></ng-content>
        <ng-container *ngFor="let formField of formGroup">
            <ui5-form-item *ngIf="!excluded.includes(formField.key)">
                <ui5-label
                    for="{{ '_' + formField.key }}"
                    slot="labelContent"
                    required="{{ formField.required }}"
                    >{{ formField.label + ":" }}</ui5-label
                >
                <ui5-input
                    [(ngModel)]="model[formField.key]"
                    id="{{ '_' + formField.key }}"
                    type="Text"
                    [placeholder]="
                        formField.placeholder
                            ? formField.placeholder
                            : undefined
                    "
                    *ngIf="formField.type == 'string'"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                ></ui5-input>
                <ui5-input
                    [(ngModel)]="model[formField.key]"
                    id="{{ '_' + formField.key }}"
                    [placeholder]="
                        formField.placeholder
                            ? formField.placeholder
                            : undefined
                    "
                    type="Number"
                    *ngIf="formField.type == 'number'"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                ></ui5-input>
                <ui5-select
                    *ngIf="formField.type == 'boolean'"
                    id="{{ '_' + formField.key }}"
                    [(ngModel)]="model[formField.key]"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                >
                    <ui5-option value="{{ false }}">NO</ui5-option>
                    <ui5-option value="{{ true }}">YES</ui5-option>
                </ui5-select>
                <ui5-select
                    *ngIf="formField.type == 'dropdown'"
                    id="{{ '_' + formField.key }}"
                    [(ngModel)]="model[formField.key]"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                >
                    <ui5-option
                        *ngFor="let item of formField.values"
                        [value]="item"
                        >{{ item }}</ui5-option
                    >
                </ui5-select>
            </ui5-form-item>
        </ng-container>
    </ui5-form-group>
</ui5-form>
