<ui5-form
    layout="{{ layout }}"
    item-spacing="Large"
    labelSpan="{{ labelSpan }}"
>
    <ng-content select="[head]"></ng-content>
    <ui5-form-group
        *ngFor="let formGroup of formData; let i = index"
        [headerText]="formGroup.headerText"
        [columnSpan]="formGroup.columnSpan"
    >
        <ng-content select="[inFirstFormGroup]" *ngIf="i == 0"></ng-content>
        <ng-container *ngFor="let formField of formGroup.content">
            <ui5-form-item *ngIf="!excluded.includes(formField.key)">
                <ui5-label
                    for="{{ '_' + formField.key }}"
                    slot="labelContent"
                    required="{{ formField.required }}"
                    >{{ formField.label + ":" }}</ui5-label
                >
                <ui5-input
                    [(ngModel)]="model[formField.key]"
                    id="{{ '_' + formField.key }}"
                    type="Text"
                    [placeholder]="
                        formField.placeholder
                            ? formField.placeholder
                            : undefined
                    "
                    *ngIf="formField.type == 'string'"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                ></ui5-input>
                <ui5-input
                    [(ngModel)]="model[formField.key]"
                    id="{{ '_' + formField.key }}"
                    [placeholder]="
                        formField.placeholder
                            ? formField.placeholder
                            : undefined
                    "
                    type="Number"
                    *ngIf="formField.type == 'number'"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                ></ui5-input>
                <ui5-select
                    *ngIf="formField.type == 'boolean'"
                    id="{{ '_' + formField.key }}"
                    [ngModel]="model[formField.key].toString()"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="
                        [
                            alertModelChange(formField.key, $event),
                            onBooleanChange(formField.key, $event)
                        ]
                    "
                >
                    <ui5-option value="false">NO</ui5-option>
                    <ui5-option value="true">YES</ui5-option>
                </ui5-select>
                <ui5-select
                    *ngIf="formField.type == 'dropdown'"
                    id="{{ '_' + formField.key }}"
                    [(ngModel)]="model[formField.key]"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                >
                    <ui5-option
                        *ngFor="let item of formField.values"
                        [selected]="model[formField.key] == item"
                        [value]="item"
                        >{{ item }}</ui5-option
                    >
                </ui5-select>

                <ui5-date-picker
                    *ngIf="formField.type == 'date'"
                    id="{{ '_' + formField.key }}"
                    [(ngModel)]="model[formField.key]"
                    [minDate]="formField.minDate"
                    [maxDate]="formField.maxDate"
                    [placeholder]="
                        formField.placeholder
                            ? formField.placeholder
                            : undefined
                    "
                    [formatPattern]="formField.format"
                    [disabled]="!formField.editable || !editingEnabled"
                    (ngModelChange)="alertModelChange(formField.key, $event)"
                ></ui5-date-picker>
            </ui5-form-item>
        </ng-container>
    </ui5-form-group>
    <ng-content select="[tail]"></ng-content>
</ui5-form>
