ui5-form {
    --sapFontSize: 12px;
}

#form-container ui5-form .ui5-form-column {
    padding-bottom: 0.5rem !important;
}
#form-container ui5-form-item {
    --_ui5-v2-0-1_form_item_padding: 0.01rem;
}

#form-container {
    display: flex;
    padding: 20px;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 1rem;
}

ui5-form {
    width: 50%;
}

#form-container ui5-form::part(layout) {
    padding: 0 !important;
}

#file-uploader-container {
    margin-top: 2.5rem;
    border: dashed 2px #556b82;
    width: 50%;
    height: 500px;
}

ui5-tabcontainer::part(content) {
    border-bottom: none !important;
}

#notes-n-files,
#credit-notes-n-files {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#credit-notes-n-files {
    width: 50%;
}

#notes-file-label,
#notes-upload-btn,
#credits-upload-btn,
#credits-file-label {
    flex-grow: 0;
}
#notes-upload,
#credits-upload {
    display: flex;
    width: 100%;
}

#credits-bottom-form ui5-form-item {
    padding: 0px 0px;
}

#notes-file-name,
#credits-file-name {
    display: flex;
    align-items: center;
    padding-left: 40px;
    flex-grow: 1;
    border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
    background-color: #fff;
    font-family: var(--_ui5-v2-0-1_button_fontFamily);
    border-left: none;
    margin-right: 30px;
}
#credits-bottom-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 1rem;
    width: 50%;
}
#credit-terms {
    display: flex;
    gap: 40px;
    width: 100%;
}
#notes-file-label,
#credits-file-label {
    display: flex;
    background-color: #f4f5f7;
    align-items: center;
    min-width: var(--_ui5-v2-0-1_button_base_min_width);
    height: var(--_ui5-v2-0-1_button_base_height);
    line-height: normal;
    font-family: var(--_ui5-v2-0-1_button_fontFamily);
    font-size: 14px !important;
    text-shadow: var(--_ui5-v2-0-1_button_text_shadow);
    cursor: pointer;
    border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
    color: var(--sapButton_TextColor);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 60px;
}

#credits-file-label {
    padding: 0 20px;
}

#credits-file-name {
    margin-right: 10px;
    padding-left: 20px;
}

#credits-file-label,
#credits-file-name,
#credits-upload-btn {
    font-size: 12px !important;
}

@media screen and (max-width: 1100px) {
    #credit-terms {
        flex-direction: column;
    }

    #credit-terms > * {
        width: auto;
    }
}
@media screen and (max-width: 1200px) {
    #form-container {
        flex-direction: column;
    }

    ui5-form {
        width: auto;
    }
    #file-uploader-container {
        width: auto;
    }
}

/* shipping info table styles */
#shipping-loc-table-heading {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ui5-table {
    width: 100%;
    overflow-x: auto;
}

ui5-table-header-cell {
    color: white !important;
}

ui5-table-header-row {
    background-color: #0064d9 !important;
}

ui5-table-row {
    cursor: pointer;
}

/* shipping location form */
#shipping-loc-form-container {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #0000003b;
    padding-bottom: 100px !important;
}

#shipping-loc-form-container #shipping-loc-form {
    width: 65%;
    margin-top: 100px;
    min-height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
}

#shipping-loc-form ui5-form {
    width: 100%;
    height: 100%;
}

#shipping-loc-form ui5-form::part(layout) {
    padding: 0 !important;
}

#shipping-form-btns {
    display: flex;
    gap: 10px;
    align-self: end;
    margin-right: 0.5rem;
}

#buttons-sec {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#other-btns {
    display: flex;
    align-self: end;
    gap: 20px;
}
