<app-subheader [title]="'Add New Customer'"></app-subheader>
<div id="container">
    <div id="form-container" class="flex-col-max-1200">
        <app-form
            class="max-w-1200-auto-else-50"
            [layout]="'S1 M1 L1 XL1'"
            [labelSpan]="'S12 M12 L12 XL12'"
            [formData]="mainformData"
            [model]="customer"
        ></app-form>
        <app-image-upload
            id="img-uploader"
            class="max-w-1200-auto-else-50"
            [title]="'Upload Customer Logo here'"
            (onImageChange)="onImageChange($event)"
        ></app-image-upload>
    </div>
    <div class="tabs-sec">
        <app-tab [tabs]="tabs" (onTabChange)="selectTab($event)"></app-tab>
        <div *ngIf="selectedTab == 'Notes & Files'" id="notes-n-files">
            <ui5-textarea
                [rows]="4"
                class="textarea-width"
                placeholder="Type credits notes here..."
            ></ui5-textarea>
            <app-file-upload
                [fileName]="notesFileName"
                (onFileSubmit)="onNotesFileSubmit($event)"
            ></app-file-upload>
        </div>
        <div
            id="credit-terms"
            class="flex-col-max-1200"
            *ngIf="selectedTab == 'Credit Terms'"
        >
            <div id="credits-bottom-form">
                <app-form
                    style="width: 100%"
                    [labelSpan]="'S12 M12 L12 XL12'"
                    [formData]="creditsFormData"
                    [model]="creditInfo"
                ></app-form>
            </div>
            <div id="credit-notes-n-files">
                <ui5-textarea
                    [rows]="18"
                    class="textarea-width"
                    placeholder="Type notes here..."
                ></ui5-textarea>
                <app-file-upload
                    [fileName]="creditsFileName"
                    (onFileSubmit)="onCreditsFileSubmit($event)"
                ></app-file-upload>
            </div>
        </div>
        <div id="shipping-info" *ngIf="selectedTab == 'Shipping Info'">
            <app-table
                [loading]="loading"
                [headers]="shippingInfoHeaders"
                [rows]="shippingInfoRows"
                [keys]="shippingInfoKeys"
                [controlled]="false"
                [enableAdd]="true"
                [title]="'Shipping Location List'"
                (onAddNewRow)="onAddNewShippingLocation()"
            ></app-table>
            <!-- shipping location form -->
            <div
                id="shipping-loc-form-container"
                #shippingLocationFormContainer
            >
                <div id="shipping-loc-form">
                    <app-form
                        [layout]="'S1 M1 L1 XL1'"
                        [labelSpan]="'S12 M12 L12 XL12'"
                        [formData]="shippingFormData"
                        [model]="shippingInfo"
                    ></app-form>
                    <div id="shipping-form-btns">
                        <ui5-button (ui5Click)="onCancelShippingLocationForm()"
                            >Cancel</ui5-button
                        >
                        <ui5-button
                            design="Emphasized"
                            (ui5Click)="onSaveShippingLocationForm()"
                            >Save</ui5-button
                        >
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons-sec">
            <app-form-actions
                (onSave)="onSave()"
                (onCancel)="(null)"
                (onApprove)="(null)"
            ></app-form-actions>
        </div>
    </div>
</div>
