<app-subheader [title]="'Add New Customer'"></app-subheader>
<div id="container">
    <div id="form-container">
        <ui5-form
            layout="S1 M1 L1 XL1"
            item-spacing="Large"
            label-span="S12 M12 L12 XL12"
        >
            <!-- Customer Information -->
            <ui5-form-group>
                <ui5-form-item>
                    <ui5-label
                        for="customerNo"
                        required="true"
                        slot="labelContent"
                        >Customer No:</ui5-label
                    >
                    <ui5-input
                        id="customerNo"
                        [(ngModel)]="customerNo"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="legalName"
                        required="true"
                        slot="labelContent"
                        >Customer Legal Name:</ui5-label
                    >
                    <ui5-input
                        id="legalName"
                        [(ngModel)]="legalName"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="tradeName"
                        required="true"
                        slot="labelContent"
                        >Customer Trade Name:</ui5-label
                    >
                    <ui5-input
                        id="tradeName"
                        [(ngModel)]="tradeName"
                    ></ui5-input>
                </ui5-form-item>
            </ui5-form-group>

            <!-- Billing Address -->
            <ui5-form-group headerText="Billing Address" [columnSpan]="2">
                <ui5-form-item>
                    <ui5-label
                        for="address1"
                        required="true"
                        slot="labelContent"
                        >Address 1:</ui5-label
                    >
                    <ui5-input id="address1" [(ngModel)]="address1"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="address2" slot="labelContent"
                        >Address 2:</ui5-label
                    >
                    <ui5-input id="address2" [(ngModel)]="address2"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="city" required="true" slot="labelContent"
                        >City:</ui5-label
                    >
                    <ui5-input id="city" [(ngModel)]="city"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="state" required="true" slot="labelContent"
                        >State/Province:</ui5-label
                    >
                    <ui5-input id="state" [(ngModel)]="state"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="postalCode"
                        required="true"
                        slot="labelContent"
                        >Zip/Postal Code:</ui5-label
                    >
                    <ui5-input
                        id="postalCode"
                        [(ngModel)]="postalCode"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="country" required="true" slot="labelContent"
                        >Country:</ui5-label
                    >
                    <ui5-input id="country" [(ngModel)]="country"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="email" required="true" slot="labelContent"
                        >Email:</ui5-label
                    >
                    <ui5-input id="email" [(ngModel)]="email"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="phone" required="true" slot="labelContent"
                        >Phone:</ui5-label
                    >
                    <ui5-input id="phone" [(ngModel)]="phone"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="mobile" slot="labelContent"
                        >Mobile:</ui5-label
                    >
                    <ui5-input id="mobile" [(ngModel)]="mobile"></ui5-input>
                </ui5-form-item>
            </ui5-form-group>

            <!-- Billing Contact -->
            <ui5-form-group headerText="Billing Contact" [columnSpan]="2">
                <ui5-form-item>
                    <ui5-label
                        for="firstName"
                        required="true"
                        slot="labelContent"
                        >First Name:</ui5-label
                    >
                    <ui5-input
                        id="firstName"
                        [(ngModel)]="firstName"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="middleName" slot="labelContent"
                        >Middle Name:</ui5-label
                    >
                    <ui5-input
                        id="middleName"
                        [(ngModel)]="middleName"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="lastName"
                        required="true"
                        slot="labelContent"
                        >Last Name:</ui5-label
                    >
                    <ui5-input id="lastName" [(ngModel)]="lastName"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="position"
                        required="true"
                        slot="labelContent"
                        >Position:</ui5-label
                    >
                    <ui5-input id="position" [(ngModel)]="position"></ui5-input>
                </ui5-form-item>
            </ui5-form-group>

            <!-- Additional Customer Information -->
            <ui5-form-group>
                <ui5-form-item>
                    <ui5-label
                        for="category"
                        required="true"
                        slot="labelContent"
                        >Customer Category:</ui5-label
                    >
                    <ui5-input id="category" [(ngModel)]="category"></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="accountManager" slot="labelContent"
                        >Account Manager:</ui5-label
                    >
                    <ui5-input
                        id="accountManager"
                        [(ngModel)]="accountManager"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="salesRep" slot="labelContent"
                        >Sales Rep:</ui5-label
                    >
                    <ui5-input id="salesRep" [(ngModel)]="salesRep"></ui5-input>
                </ui5-form-item>
            </ui5-form-group>

            <!-- Other fields -->
            <ui5-form-group [columnSpan]="2">
                <ui5-form-item>
                    <ui5-label
                        for="effectiveDate"
                        required="true"
                        slot="labelContent"
                        >Effective Date:</ui5-label
                    >
                    <ui5-input
                        readonly
                        id="effectiveDate"
                        [(ngModel)]="effectiveDate"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="creditTerms"
                        required="true"
                        slot="labelContent"
                        >Credit Terms:</ui5-label
                    >
                    <ui5-input
                        readonly
                        id="creditTerms"
                        [(ngModel)]="creditTerms"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="lastUpdated"
                        required="true"
                        slot="labelContent"
                        >Last Updated:</ui5-label
                    >
                    <ui5-input
                        readonly
                        id="lastUpdated"
                        [(ngModel)]="lastUpdated"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label
                        for="lastUpdatedBy"
                        required="true"
                        slot="labelContent"
                        >Last Updated By:</ui5-label
                    >
                    <ui5-input
                        readonly
                        id="lastUpdatedBy"
                        [(ngModel)]="lastUpdatedBy"
                    ></ui5-input>
                </ui5-form-item>
                <ui5-form-item>
                    <ui5-label for="status" required="true" slot="labelContent"
                        >Status:</ui5-label
                    >
                    <ui5-select id="status" [(ngModel)]="status" readonly>
                        <ui5-option
                            *ngFor="let item of statuses"
                            value="item"
                            >{{ item }}</ui5-option
                        >
                    </ui5-select>
                </ui5-form-item>
            </ui5-form-group>
        </ui5-form>
        <div id="file-uploader-container">
            <ui5-illustrated-message name="UploadToCloud">
                <ui5-title slot="title" level="H5"
                    >Upload Customer Logo here</ui5-title
                >
                <div slot="subtitle">
                    Drag &amp; Drop photos inside the dashed region or
                </div>
                <ui5-file-uploader hide-input>
                    <ui5-button design="Emphasized">Choose file(s)</ui5-button>
                </ui5-file-uploader>
            </ui5-illustrated-message>
        </div>
    </div>
    <ui5-tabcontainer (ui5TabSelect)="selectTab($event)">
        <ng-container *ngFor="let item of tabs">
            <ui5-tab text="{{ item }}"> </ui5-tab>
            <ui5-tab-separator
                *ngIf="tabs.indexOf(item) != tabs.length - 1"
            ></ui5-tab-separator>
        </ng-container>
    </ui5-tabcontainer>
    <div *ngIf="selectedTab == 'Notes & Files'" id="notes-n-files">
        <ui5-textarea
            [rows]="4"
            class="textarea-width"
            placeholder="Type notes here..."
        ></ui5-textarea>
        <div id="notes-upload">
            <input
                type="file"
                #notesFileUpload
                id="notes-file-input"
                style="display: none"
                (change)="onNotesFileSubmit($event)"
            />
            <div id="notes-file-label" (click)="triggerNotesFileUpload()">
                Choose file
            </div>
            <div id="notes-file-name">{{ notesFileName }}</div>
            <ui5-button design="Emphasized" id="notes-upload-btn"
                >Upload File</ui5-button
            >
        </div>
    </div>
</div>
