<div class="container">
  <div class="form-container">
    <div class="logo-container"><img src="assets/logo.png" alt="" /></div>
    <ui5-form layout="S1 M2 L2 XL2" item-spacing="Large" style="width: 400px">
      <ui5-form-item>
        <ui5-label for="nameInp" slot="labelContent"
          >Username or Email:</ui5-label
        >
        <ui5-input
          value=""
          id="username"
          valueState="Positive"
          style="background-color: white"
          required
        ></ui5-input>
      </ui5-form-item>
      <ui5-form-item>
        <ui5-label for="nameInp" slot="labelContent">Password:</ui5-label>
        <ui5-input
          type="Password"
          valueState="Positive"
          id="password"
          style="background-color: white"
          required
        ></ui5-input>
      </ui5-form-item>
      <div class="flex-row">
        <ui5-checkbox text="Remember me" value-state="Positive"></ui5-checkbox>
        <ui5-form-item>
          <ui5-button
            id="login-btn"
            design="Default"
            style="background-color: green; color: white; border-color: green"
            >Log in</ui5-button
          >
        </ui5-form-item>
      </div>
      <style>
        ui5-bar {
          box-shadow: none;
        }
      </style>
    </ui5-form>

    <div class="other-fields">
      <p
        style="
          font-family: Arial, Helvetica, sans-serif;
          align-self: flex-start;
          cursor: pointer;
          font-size: 15px;
        "
      >
        Forgot your password?
      </p>
      <ui5-select value-state="Positive" style="background-color: white">
        <ui5-option selected>English (United States)</ui5-option>
        <ui5-option>English (Canada)</ui5-option>
      </ui5-select>
    </div>
  </div>
</div>
