#upload-btn,
#file-label {
    flex-grow: 0;
}

#container {
    display: flex;
    width: 100%;
}

#file-label,
#file-name,
#upload-btn {
    font-size: 12px !important;
}

#file-name {
    display: flex;
    align-items: center;
    padding-left: 40px;
    flex-grow: 1;
    border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
    background-color: #fff;
    font-family: var(--_ui5-v2-0-1_button_fontFamily);
    border-left: none;
    margin-right: 10px;
    padding-left: 20px;
}

#file-label {
    display: flex;
    background-color: #f4f5f7;
    align-items: center;
    min-width: var(--_ui5-v2-0-1_button_base_min_width);
    height: var(--_ui5-v2-0-1_button_base_height);
    line-height: normal;
    font-family: var(--_ui5-v2-0-1_button_fontFamily);
    text-shadow: var(--_ui5-v2-0-1_button_text_shadow);
    cursor: pointer;
    border: var(--sapButton_BorderWidth) solid var(--sapButton_BorderColor);
    color: var(--sapButton_TextColor);
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 30px;
}
