<div id="page">
    <div id="header">
        <img src="assets/logo-horizontal.png" alt="" />

        <ui5-label
            id="header-title"
            style="
                color: #556b82;
                font-weight: 100 !important;
                font-size: xx-large;
            "
            >Nandi Food Company</ui5-label
        >
        <ui5-label>
            <p #time></p>
        </ui5-label>
        <div id="profile-sec">
            <img src="assets/bell.svg" id="notification-icon" alt="" />
            <div>
                <ui5-avatar
                    id="profile-btn"
                    (click)="menuBasic.open = true"
                    style="cursor: pointer"
                >
                    <img src="assets/avatar.png" />
                </ui5-avatar>
                <ui5-menu opener="profile-btn" #menuBasic="ui5Menu">
                    <ui5-menu-item
                        text="Log out"
                        (click)="onLogout()"
                    ></ui5-menu-item>
                    <ui5-menu-separator></ui5-menu-separator>
                    <ui5-menu-item text="Other"></ui5-menu-item>
                </ui5-menu>
            </div>
            <ui5-label style="font-size: larger; font-weight: bold">{{
                profileName
            }}</ui5-label>
        </div>
    </div>

    <div id="content">
        <div #sidebar id="sidebar-wrapper">
            <ui5-side-navigation
                id="sidebar"
                style="background-color: #f4f5f7; margin-left: 10px"
            >
                <ui5-side-navigation-item
                    text="Dashboard"
                    (click)="goToNested('', 'Dashboard')"
                    [selected]="selectedOption == 'Dashboard'"
                >
                </ui5-side-navigation-item>
                <ui5-side-navigation-group
                    *ngFor="let item of sidebarItems"
                    text="{{ item.mainTitle }}"
                    [expanded]="item.mainTitle == selectedMainTitle"
                >
                    <ui5-side-navigation-item
                        *ngFor="let subItem of item.subMenus"
                        text="{{ subItem.subTitle }}"
                        [expanded]="subItem.subTitle == selectedSubtitle"
                    >
                        <ui5-side-navigation-sub-item
                            *ngFor="let option of subItem.options"
                            text="{{ option.name }}"
                            [selected]="selectedOption == option.name"
                            (click)="goToNested(option.route, option.name)"
                        >
                        </ui5-side-navigation-sub-item>
                    </ui5-side-navigation-item>
                </ui5-side-navigation-group>
            </ui5-side-navigation>
        </div>

        <div id="main">
            <div id="subheader">
                <img
                    src="assets/menu.svg"
                    alt=""
                    id="sidebar-toggle-btn"
                    (click)="toggleSidebar()"
                />

                <ui5-title level="H3">{{ selectedOption }}</ui5-title>
                <ui5-button icon="refresh" (ui5Click)="OnRefresh()"
                    >Refresh</ui5-button
                >
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="footer">
        <ui5-bar design="Footer" style="background-color: #f4f5f7">
            Copyright © 2023. All rights reserved.
        </ui5-bar>
    </div>
</div>
