<div id="page">
    <div id="header">
        <div id="logo-title-group">
            <img id="logo" src="assets/logo-horizontal.png" alt="" />
            <ui5-title id="header-title" level="H5"
                >Nandi Food Company</ui5-title
            >
        </div>

        <div id="profile-sec">
            <ui5-label style="display: flex; align-items: center">
                <span #time></span>
            </ui5-label>
            <img src="assets/bell.svg" id="notification-icon" alt="" />
            <div>
                <ui5-avatar
                    id="profile-btn"
                    (click)="menuBasic.open = true"
                    style="cursor: pointer"
                >
                    <img id="avatar-icon" src="assets/avatar.png" />
                </ui5-avatar>
                <ui5-menu opener="profile-btn" #menuBasic="ui5Menu">
                    <ui5-menu-item
                        text="Log out"
                        (click)="onLogout()"
                    ></ui5-menu-item>
                    <!-- <ui5-menu-separator></ui5-menu-separator> -->
                </ui5-menu>
            </div>
            <ui5-label style="font-weight: bold">{{
                profileName | titlecase
            }}</ui5-label>
        </div>
    </div>

    <div id="content">
        <app-sidebar></app-sidebar>
        <div id="main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="footer">
        <ui5-bar design="Footer" style="background-color: #f4f5f7">
            <!-- Copyright © 2023. All rights reserved. -->
        </ui5-bar>
    </div>
</div>
