
.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

#table-sec {
    display: flex;
    flex-direction: column;
}

#buttons-sec {
    margin-top: 32px;
    display: flex;
    justify-content: end;
}

