<app-subheader [title]="title">
    <ui5-button icon="edit" (click)="onEdit()" *ngIf="!editingEnabled"
        >Edit</ui5-button
    >
    <ui5-button
        design="Negative"
        icon="edit"
        (click)="onEdit()"
        *ngIf="editingEnabled"
        >Cancel Editing</ui5-button
    >
</app-subheader>
<div class="container">
   
        <ui5-form-group>
            <!-- Read-only fields -->
            <!-- Date Created (Read-only) -->
            <ui5-form-item>
                <ui5-label for="DateCreatedInp" slot="labelContent"
                    >Date Created:</ui5-label
                >
                <ui5-input
                    id="DateCreatedInp"
                    readonly
                    value="{{ dateCreated }}"
                ></ui5-input>
            </ui5-form-item>
            <!-- Last Updated (Read-only) -->
            <ui5-form-item>
                <ui5-label for="LastUpdatedInp" slot="labelContent"
                    >Last Updated:</ui5-label
                >
                <ui5-input
                    id="LastUpdatedInp"
                    readonly
                    value="{{ lastUpdated }}"
                ></ui5-input>
            </ui5-form-item>
            <!-- Status (Read-only) -->
            <ui5-form-item>
                <ui5-label for="StatusInp" slot="labelContent"
                    >Status:</ui5-label
                >
                <ui5-select
                    id="StatusInp"
                    [disabled]="!editingEnabled"
                    [(ngModel)]="status"
                >
                    <ui5-option
                        *ngFor="let item of statuses"
                        value="{{ item }}"
                        >{{ item }}</ui5-option
                    >
                </ui5-select>
            </ui5-form-item>
        </ui5-form-group>

        <ui5-form-group>
            <!-- Effective Date (Read-only) -->
            <ui5-form-item>
                <ui5-label for="EffectiveDateInp" slot="labelContent"
                    >Effective Date:</ui5-label
                >
                <ui5-input
                    id="EffectiveDateInp"
                    readonly
                    value="{{ effectiveDate }}"
                ></ui5-input>
            </ui5-form-item>
            <!-- Last Updated by (Read-only) -->
            <ui5-form-item>
                <ui5-label for="LastUpdatedByInp" slot="labelContent"
                    >Last Updated By:</ui5-label
                >
                <ui5-input
                    id="LastUpdatedByInp"
                    readonly
                    value="{{ lastUpdatedBy }}"
                ></ui5-input>
            </ui5-form-item>
        </ui5-form-group>
  

    <div id="table-sec">
      
        <div id="buttons-sec">
            
        </div>
    </div>
</div>