ui5-bar {
    box-shadow: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

ui5-table {
    /* width: calc(100vw - 390px); */
    width: 100%;
    overflow-x: auto;
    margin-bottom: 50px;
}

#table-sec {
    display: flex;
    flex-direction: column;
    width: 98%;
}

#add-row-btn {
    flex-grow: 0;
    align-self: start;
}

#row-delete-btn-icon {
    width: 20px;
}

#buttons-sec {
    display: flex;
    justify-content: space-between;
}

#other-btns {
    display: flex;
    align-self: end;
    gap: 20px;
}

ui5-form {
    --sapFontSize: 12px;
}
