<app-subheader [title]="title"></app-subheader>
<div class="container">
    <app-form
        [projectionEnabled]="true"
        [formData]="formData"
        [editingEnabled]="true"
        [model]="uom"
        [excluded]="excluded"
        (onModelChange)="onModelChange($event)"
        ><ui5-form-item>
            <ui5-label for="classInp" slot="labelContent" required="true"
                >Class:</ui5-label
            >

            <ui5-select
                id="classInp"
                [(ngModel)]="classInp"
                (ngModelChange)="onClassChange()"
            >
                <ui5-option value="UOM" selected>UOM</ui5-option>
                <ui5-option value="HU">HU</ui5-option>
                <ui5-option value="PU">PU</ui5-option>
            </ui5-select>
        </ui5-form-item></app-form
    >

    <div id="table-sec">
        <ui5-tabcontainer
            style="width: 100%"
            (ui5TabSelect)="selectTab($event)"
        >
            <ng-container *ngFor="let item of tabs">
                <ng-container
                    *ngIf="!(item == 'Linked PU and HU' && classInp != 'UOM')"
                >
                    <ui5-tab text="{{ item }}"> </ui5-tab>
                    <ui5-tab-separator
                        *ngIf="
                            tabs.indexOf(item) != tabs.length - 1 &&
                            (classInp == 'UOM' || tabs.indexOf(item) == 0)
                        "
                    ></ui5-tab-separator>
                </ng-container>
            </ng-container>
        </ui5-tabcontainer>

        <!--UOM Imperial and Metric Table-->
        <ng-container *ngIf="selectedTab == 'UOM Weight and Volume'">
            <ui5-tabcontainer
                style="width: 180px"
                (ui5TabSelect)="selectNestedTab($event)"
            >
                <ng-container *ngFor="let item of nestedTabs">
                    <ui5-tab text="{{ item }}"> </ui5-tab>
                    <ui5-tab-separator
                        *ngIf="
                            nestedTabs.indexOf(item) != nestedTabs.length - 1
                        "
                    ></ui5-tab-separator>
                </ng-container>
            </ui5-tabcontainer>
            <ui5-table
                overflowMode="Scroll"
                *ngIf="selectedNestedTab == 'Metric'"
            >
                <ui5-table-header-row
                    slot="headerRow"
                    style="background-color: #0064d9"
                >
                    <ui5-table-header-cell
                        *ngFor="let item of UOMMetricHeaders"
                        style="color: white"
                        minWidth="101px"
                    >
                        <span [innerHTML]="item"></span>
                    </ui5-table-header-cell>
                </ui5-table-header-row>
                <ui5-table-row>
                    <ui5-table-cell *ngFor="let key of UOMTableKeys">
                        <input
                            class="ui5-input"
                            type="number"
                            [(ngModel)]="uom.metric[key]"
                        />
                    </ui5-table-cell>
                </ui5-table-row>
            </ui5-table>
            <ui5-table
                overflowMode="Scroll"
                *ngIf="selectedNestedTab == 'Imperial'"
            >
                <ui5-table-header-row
                    slot="headerRow"
                    style="background-color: #0064d9"
                >
                    <ui5-table-header-cell
                        *ngFor="let item of UOMImperialHeaders"
                        style="color: white"
                        minWidth="101px"
                    >
                        <span [innerHTML]="item"></span>
                    </ui5-table-header-cell>
                </ui5-table-header-row>
                <ui5-table-row>
                    <ui5-table-cell *ngFor="let key of UOMTableKeys">
                        <input
                            class="ui5-input"
                            type="number"
                            [(ngModel)]="uom.imperial[key]"
                        />
                    </ui5-table-cell>
                </ui5-table-row>
            </ui5-table>
        </ng-container>
        <!--Linked UOM Table-->
        <ui5-table *ngIf="selectedTab == 'Linked UOM'" overflowMode="Scroll">
            <ui5-table-header-row
                slot="headerRow"
                style="background-color: #0064d9"
            >
                <ui5-table-header-cell
                    *ngFor="let item of LinkedUOM.headers"
                    style="color: white"
                    minWidth="101px"
                >
                    <span [innerHTML]="item"></span>
                </ui5-table-header-cell>
                <ui5-table-header-cell></ui5-table-header-cell>
            </ui5-table-header-row>
            <ui5-table-row *ngFor="let row of LinkedUOM.rows; let i = index">
                <ui5-table-cell *ngFor="let key of LinkedUOM.keys">
                    <ui5-input
                        [(ngModel)]="row[key.name]"
                        type="Text"
                        *ngIf="key.type == 'string'"
                        [disabled]="!key.editable"
                    ></ui5-input>
                    <ui5-input
                        [(ngModel)]="row[key.name]"
                        type="Number"
                        *ngIf="key.type == 'number'"
                        [disabled]="!key.editable"
                    ></ui5-input>
                    <ui5-select
                        *ngIf="key.type == 'boolean'"
                        [(ngModel)]="row[key.name]"
                        [disabled]="!key.editable"
                    >
                        <ui5-option value="true">YES</ui5-option>
                        <ui5-option value="false">NO</ui5-option>
                    </ui5-select>
                    <ui5-select
                        *ngIf="key.type == 'dropdown'"
                        [(ngModel)]="row[key.name]"
                        [disabled]="!key.editable"
                    >
                        <ui5-option
                            *ngFor="let item of linkedUOMNames"
                            [value]="item"
                            >{{ item }}</ui5-option
                        >
                    </ui5-select>
                </ui5-table-cell>
                <ui5-table-cell
                    ><ui5-button design="Negative" (ui5Click)="deleteRow(i)">
                        <img
                            src="assets/trash.svg"
                            id="row-delete-btn-icon"
                            alt=""
                        /> </ui5-button
                ></ui5-table-cell>
            </ui5-table-row>
        </ui5-table>
        <!--Linked Pu and HU Table-->
        <ui5-table
            *ngIf="selectedTab == 'Linked PU and HU' && classInp == 'UOM'"
            overflowMode="Scroll"
        >
            <ui5-table-header-row
                slot="headerRow"
                style="background-color: #0064d9"
            >
                <ui5-table-header-cell
                    *ngFor="let item of LinkedPUAndHU.headers"
                    style="color: white"
                    minWidth="101px"
                >
                    <span [innerHTML]="item"></span>
                </ui5-table-header-cell>
                <ui5-table-header-cell></ui5-table-header-cell>
            </ui5-table-header-row>
            <ui5-table-row
                *ngFor="let row of LinkedPUAndHU.rows; let i = index"
            >
                <ui5-table-cell *ngFor="let key of LinkedPUAndHU.keys">
                    <ui5-input
                        [(ngModel)]="row[key.name]"
                        type="Text"
                        *ngIf="key.type == 'string'"
                        [disabled]="!key.editable"
                    ></ui5-input>
                    <ui5-select
                        *ngIf="key.type == 'dropdown'"
                        [(ngModel)]="row[key.name]"
                        [disabled]="!key.editable"
                    >
                        <ui5-option
                            *ngFor="let item of linkedHuAndPuNames"
                            [value]="item"
                            >{{ item }}</ui5-option
                        >
                    </ui5-select>
                    <ui5-input
                        [(ngModel)]="row[key.name]"
                        type="Number"
                        *ngIf="key.type == 'number'"
                        [disabled]="!key.editable"
                    ></ui5-input>
                    <ui5-select
                        *ngIf="key.type == 'boolean'"
                        [disabled]="!key.editable"
                        [(ngModel)]="row[key.name]"
                    >
                        <ui5-option value="true">YES</ui5-option>
                        <ui5-option value="false">NO</ui5-option>
                    </ui5-select>
                </ui5-table-cell>
                <ui5-table-cell
                    ><ui5-button design="Negative" (ui5Click)="deleteRow(i)">
                        <img
                            src="assets/trash.svg"
                            id="row-delete-btn-icon"
                            alt=""
                        /> </ui5-button
                ></ui5-table-cell>
            </ui5-table-row>
        </ui5-table>
        <div id="buttons-sec">
            <ui5-button
                icon="add"
                *ngIf="selectedTab != 'UOM Weight and Volume'"
                id="add-row-btn"
                (ui5Click)="addNewRow()"
                >Add new row</ui5-button
            >
            <p *ngIf="selectedTab == 'UOM Weight and Volume'"></p>
            <div id="other-btns">
                <ui5-button>Cancel</ui5-button>
                <ui5-button design="Positive" (ui5Click)="onSave()"
                    >Save</ui5-button
                >
                <ui5-button design="Emphasized">Approve</ui5-button>
            </div>
        </div>
    </div>
</div>
