ui5-table {
    width: 100%;
    overflow-x: auto;
}

ui5-table-header-cell {
    color: white !important;
}

ui5-table-header-row {
    background-color: #0064d9 !important;
}

#searchbar {
    margin-bottom: 20px;
}
