<div class="flex-column samples-margin" id="searchbar">
    <ui5-input
        id="searchInput"
        placeholder="Enter search criteria ..."
        style="width: 100%"
    >
        <ui5-icon id="searchIcon" slot="icon" name="search"></ui5-icon>
    </ui5-input>
</div>
<ui5-table overflowMode="Scroll" loading="{{ loading }}">
    <ui5-table-header-row slot="headerRow">
        <ng-container *ngFor="let item of headers">
            <ui5-table-header-cell
                *ngIf="
                    item == 'UOM Long Name' || item == 'UOM Short Name';
                    else elseBlock
                "
                minWidth="165px"
            >
                <span>{{ item }}</span>
            </ui5-table-header-cell>
            <ng-template #elseBlock>
                <ui5-table-header-cell minWidth="88px">
                    <span>{{ item }}</span>
                </ui5-table-header-cell>
            </ng-template>
        </ng-container>
    </ui5-table-header-row>

    <ui5-table-row *ngFor="let row of rows">
        <ui5-table-cell *ngFor="let key of keys">
            <ui5-label>
                <b>{{ row[key] }}</b>
            </ui5-label>
        </ui5-table-cell>
    </ui5-table-row>
</ui5-table>
<mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="disabled"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
>
</mat-paginator>
