<app-subheader [title]="'UOM List'" (onRefresh)="onRefresh()">
    <input
        type="file"
        #fileInput
        (change)="uploadFile($event)"
        accept=".csv"
        style="display: none"
    />
    <button id="upload-btn" (click)="triggerFileInput()">
        <img src="assets/upload.svg" alt="" style="height: 20px" />
        <span>Upload a File</span>
    </button>
    <ui5-button
        *ngFor="let btn of subheaderButtons"
        (ui5Click)="navigateToCreateUOMForm(btn.classInp)"
        class="{{ btn.style }}"
        >{{ btn.name }}</ui5-button
    >
</app-subheader>
<div id="searchbar">
    <app-searchbar
        [searchValue]="searchValue"
        (onSearch)="search($event)"
    ></app-searchbar>
</div>

<app-table
    *ngIf="!error; else errorBlock"
    [headers]="headers"
    [rows]="rows"
    [controlled]="false"
    [paginated]="true"
    [keys]="keys"
    [loading]="loading"
    [paginatorProps]="paginatorProps"
    (onPaginationEvent)="handlePageEvent($event)"
    (onRowClick)="viewUOMDetails($event)"
>
</app-table>

<ng-template #errorBlock>
    <div class="error-message">
        <ui5-label>{{ "Sorry, something unexpected happened  :(" }}</ui5-label>
    </div>
</ng-template>
